@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Fira+Sans+Condensed');
$baby-blue: rgb(140, 200, 255);

body {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 1rem;
	background: url('images/music-bg.jpg') fixed;
	/* background image from pixabay.com */
  margin: auto;
  padding: 0;
}

form {
	margin: auto;
	width: 100%;
}

input[type=submit]{
	cursor: pointer;
	font-size: 1.5em;
	border: 1px solid black;
	border-radius: 1em;
	background: rgb(140, 200, 255);
	display: block;
	padding: 0.3em;
	margin: 0.5em auto 0em auto;
}

.link {
	color: #fff;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: #eaa;
	}

	&:active {
		color: #0ac;
	}
	
}

.crud {
	font-style: italic;
}

#App {
  text-align: center;
}

#App-header {
	background: rgba(90, 5, 80, 0.9);
	padding: 0.1em;
	/*margin: 1em;*/
	/*border-radius: 1em;*/
  color: #fff;
  font-size: 1.2em;

  strong {
		font-family: 'Baloo Bhaina', cursive;
		color: $baby-blue;
		text-shadow: 2px 1px 2px black;
	}
}

#app-body {
	padding: 1em;
	margin: 1em;
	border-radius: 2em;
	background: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#people-list {
	$background-color: rgba(190, 60, 90, 0.95);
	background: linear-gradient(to right bottom, $background-color, darken($background-color, 15%));
	padding: 1em;
	border-radius: 2.5em;
	border: 2px black solid;
	width: 20em;
	height: 30em;
}

.people-names {
	height: 20em;
	overflow: auto;
}

.person-detail {
	$background-color: rgba(100, 160, 120, 0.95);
	background: linear-gradient(to right top, $background-color, darken($background-color, 10%));
	border-radius: 2.5em;
	border: 2px black solid;
	width: 24em;
	padding: 2em;

	input[type=submit]{
		background: darken($background-color, 12%);
	}
}

#new-person {
	$background-color: rgba(70, 90, 190, 0.95);
	background: linear-gradient(to left top, $background-color, lighten($background-color, 15%));
	padding: 2em;
	border-radius: 2.5em;
	border: 2px black solid;

	input[type=submit]{
		background: lighten($background-color, 25%);
	}
}

.error {
	p {
		border-radius: 1em;
		background: red;
		color: white;
	}
}