body {
	font-size: 1rem;
	background: url('images/music-bg.jpg') fixed;
	/* background image from pixabay.com */
  margin: auto;
  padding: 0;
  font-family: sans-serif;
}

strong {
	color: rgb(140, 200, 256);
}

.link {
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	color: #eaa;
}

.link:active {
	color: #0ac;
}

.crud {
	font-style: italic;
}

#App {
  text-align: center;
}

#App-header {
	background: rgba(90, 5, 80, 0.4);
	padding: 0.1em;
	margin: 1em;
	border-radius: 1em;
  color: #fff;

}

#app-body {
	padding: 1em;
	margin: 1em;
	border-radius: 2em;
	background: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#people-list {
	background: rgba(170, 40, 70, 0.9);
	padding: 1em;
	border-radius: 2.5em;
	border: 1px black solid;
	width: 20em;
	height: 30em;
}

.people-names {
	width: inherit;
	height: 20em;
	overflow: auto;

}

.person-detail {
	background: rgba(100, 160, 120, 0.9);
	border-radius: 2.5em;
	border: 1px black solid;
	width: 24em;
	padding: 2em;
}

.person-data {
}

#new-person {
	background: rgba(70, 90, 190, 0.9);
	padding: 2em;
	border-radius: 2.5em;
	border: 1px black solid;	
}